/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	--ion-background-color: #f2f2f2;
	--ion-background-color-rgb: 242,242,242;

	--ion-text-color: #0D1F22;
	--ion-text-color-rgb: 13,31,34;

	--ion-color-step-50: #e7e7e8;
	--ion-color-step-100: #dbdddd;
	--ion-color-step-150: #d0d2d3;
	--ion-color-step-200: #c4c8c8;
	--ion-color-step-250: #b9bdbe;
	--ion-color-step-300: #adb3b4;
	--ion-color-step-350: #a2a8a9;
	--ion-color-step-400: #969e9f;
	--ion-color-step-450: #8b9394;
	--ion-color-step-500: #80898a;
	--ion-color-step-550: #747e80;
	--ion-color-step-600: #697375;
	--ion-color-step-650: #5d696b;
	--ion-color-step-700: #525e60;
	--ion-color-step-750: #465456;
	--ion-color-step-800: #3b494c;
	--ion-color-step-850: #2f3f41;
	--ion-color-step-900: #243437;
	--ion-color-step-950: #182a2c;

	--ion-color-primary: #0D1F22;
	--ion-color-primary-rgb: 13,31,34;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0b1b1e;
	--ion-color-primary-tint: #253538;

	--ion-color-secondary: #5260ff;
	--ion-color-secondary-rgb: 82,96,255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4854e0;
	--ion-color-secondary-tint: #6370ff;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #65743A;
	--ion-color-medium-rgb: 101,116,58;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #596633;
	--ion-color-medium-tint: #74824e;

	--ion-color-light: #97AD5C;
	--ion-color-light-rgb: 151,173,92;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #859851;
	--ion-color-light-tint: #a1b56c;
}
